
.thanks-header{
    padding: 4% 0 0% 5%;
    font-size: 2.5rem;
}

.thanks-subtext{
    font-size: 1.4rem;
    padding-bottom: 70px;
   
}

.thank-you-logo{
    font-size: 4rem;
    color: red;
    padding-bottom: 8%;
}
